<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nevedrov_lab_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84E0D8E61BDD4FBF000B3BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E0D8FF1BDD4FBF000B3BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E0D90A1BDD4FBF000B3BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
